{{#if resume.certificates.length}}
  <div id='certificates' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>CERTIFICATES</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
      {{#each resume.certificates}}
        <div class='block-header'>
          <span class='title'>{{name}}{{#if issuer}}, {{issuer}}{{/if}}</span>
          {{#if date}}
            <span class='date'>
              <time datetime="{{date}}">{{MONTH_YEAR date}}</time>
            </span>
          {{/if}}
        </div>
        {{#if url}}
          <p class='certificate-url'><a href='{{url}}' target='_blank' rel='noopener noreferrer'>{{url}}</a></p>
        {{/if}}
        {{#unless @last}}
          <div class='separator'></div>
        {{/unless}}
      {{/each}}
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
