{{#if resume.projects.length}}
  <div id='projects' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>PROJECTS</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
        {{#each resume.projects}}
          <div>
            {{#if url}}
              <span class='title'><a href="{{url}}">{{name}}</a>: </span>
            {{else}}
              <span class='title'>{{name}}: </span>
            {{/if}}
           {{#if highlights.length}}
            <ul class='highlights'>
              {{#each highlights}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
          {{#unless @last}}
            <div class='separator'></div>
          {{/unless}}
          </div>
        {{/each}}
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
