{{#if resume.work.length}}
  <div id='work-block' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>EXPERIENCE</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
      {{#each resume.work}}
        <div class='job-block'>
          <div class='block-header'>
            <span class='organization'>{{name}}</span>
            <span class='title'>{{position}}</span>
            <span class='date'>
              <time datetime="{{startDate}}">{{MONTH_YEAR startDate}}</time> &mdash;
              {{#if endDate}}<time datetime="{{endDate}}">{{MONTH_YEAR endDate}}</time>{{else}}Present{{/if}}
            </span>
          </div>

          <div >
            {{!-- note: this is to enable any automated parsing of content --}}
            {{#if location}}
              <span class='work-location'>{{location}}</span>
            {{/if}}
            {{#if url}}
              <span class='website'><a href='{{url}}'>{{url}}</a></span>
            {{/if}}
          </div>

          {{#if highlights.length}}
            <ul class='highlights'>
              {{#each highlights}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
          {{#unless @last}}
            <div class='separator'></div>
          {{/unless}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
